*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4f6f8;
}

.counter-container{
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align:center;
width:300px;
}

h1{
margin-bottom:20px;
color:#333;
}

#count{
font-size:50px;
font-weight:bold;
margin-bottom:25px;
color:#444;
}

.buttons{
display:flex;
justify-content:space-between;
}

.btn{
border:none;
width:60px;
height:60px;
border-radius:50%;
font-size:20px;
cursor:pointer;
transition:0.3s;
color:white;
}

.minus{
background:#e74c3c;
}

.plus{
background:#2ecc71;
}

.reset{
background:#3498db;
}

.btn:hover{
transform:scale(1.1);
opacity:0.9;
}